.about-navbar-text {
    font-family: 'EB Garamond', serif;
    color: #c2b39c;
}

.about-navbar-item:hover {
    color: #c2b39cb6;
}
.about-header-text{
    font-family: 'EB Garamond', serif;
    padding-bottom: .5em;
    font-size: 2em;
    padding-top: .5em;
    color: #4F7942;
}

.about-sub-header-text{
    font-family: 'EB Garamond', serif;
    padding-bottom: .25em;
    font-size: 1.5em;
    color: #412720;
}

.about-description-text{
    font-family: 'Playfair', serif;
    padding-bottom: .5em;
    text-indent: 1em;
    color: #412720;
    text-align: justify;
}

.quote{
    font-family: 'EB Garamond', serif;
    padding-bottom: .25em;
    font-size: 1.5em;
    color: #4F7942;;
}

.back-to-top {
    font-family: 'EB Garamond', serif;
    color: #412720;
}

.back-to-top:hover {
    color: #412720bf;
}

#NatPic3 {
    filter: sepia(70%);
}

#introduction{
    padding-bottom: .25em;
}

#nat-name,
#this-way,
#therefore{
    text-indent: 0;
}


