.by-heading-text{
    font-family: 'EB Garamond', serif;
    font-size: 2em;
    padding-top: .5em;
    padding-bottom: .25em;
    color: #4F7942;
}

.by-subheading-text {
    font-family: 'Playfair', serif;
    padding-bottom: .5em;
    color: #412720;
}

#test{
    background-color: red;
}
.AniPic5{
    filter:sepia(55%)
}
