.about-table-text{
    font-family: 'Nanum Gothic', sans-serif;
    padding-bottom: .5em; 
}


.about-sub-header-text{
    font-family: 'EB Garamond', serif;
    padding-bottom: .25em;
    font-size: 1.5em;
}
