.about-table-text{
    font-family: 'Nanum Gothic', sans-serif;
    color: #412720;
}

.about-sub-header-text{
    font-family: 'EB Garamond', serif;
    font-size: 1.5em;
    color: #412720;
}

.backslash{
    font-family: none;
    color: #412720;
}
