.footer2{
    /* margin-top: auto; */
    /* position: absolute; */
    /* margin-bottom: 0;
    left:0;
    bottom: 0; */
}

.footer{
    margin-top: auto;
    margin-bottom: 0;
    left:0;
    bottom: 0;
}