

.footer{
    margin-top: auto;
    margin-bottom: 0;
    left:0;
    bottom: 0;
}

.footer-description-text{
    font-family: 'Nanum Gothic', sans-serif;
    color: '#c2b39c';
}

.footer-description-text:hover {
    color: '#c2b39c';
    opacity: .8;
}