.tuning-subheading-text {
    font-family: 'Playfair', serif;
    color: #412720;
}

.tuning-song-text {
    font-family: 'Playfair', serif;
    color: #412720;
}

.tuning-song-text:hover {
    opacity: .7;
}