.tuning-subheading-text {
    font-family: 'Playfair', serif;
    color: #412720;
}

.by-song-title,
.pdf-text,
.video-text,
.span-text{
    font-family: 'Playfair', serif;
    color: #412720;
}

.pdf-text:hover,
.video-text:hover{
    opacity: .7;
}